<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="w3-container">
    <div th:fragment="ajaxError" ng-controller="ajaxErrorController">
        <div class="w3-modal ajaxError" ng-if="errorData != null">
            <div class="w3-modal-content w3-card">
                <header class="w3-container w3-theme">
                    <h2>
                        <span class="material-icons w3-xlarge">error</span> <span th:text="#{i18n.common.error.error}">3rr0r</span>
                    </h2>
                </header>
                <div class="w3-container w3-theme-l5">
                    <p>{{errorData.message}}</p>
                </div>
                <footer class="w3-bar w3-theme w3-padding">
                    <div class="w3-right">
                        <a href="#" class="w3-bar-item w3-button w3-theme-l5" ng-click="hideError()">
                            <span th:text="#{i18n.common.error.ok}">0k</span>
                        </a>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</div>
</body>
</html>