<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/htmlHead :: htmlHead(cssFiles=${ {'login.css'} })">
</head>
<body class="w3-black">
<div class="w3-container w3-center">
    <div class="w3-content w3-container loginBox">
        <img
                th:src="@{/res/img/gata_large.png}" src="../static/res/img/gata_large.png"
                th:alt="#{i18n.common.gata}" alt="G4t4"
                th:title="#{i18n.common.gata}" title="G4t4"
        />
    </div>
    <div class="w3-content w3-container w3-theme loginBox">
        <form action="#" th:action="@{/login}" method="POST">
            <div class="w3-row w3-section">
                <div class="w3-col fieldIcon"><i
                        class="w3-xxlarge w3-text-theme-l5 material-icons">person</i>
                </div>
                <div class="w3-rest">
                    <input class="w3-input w3-theme-l5" type="text" name="username"
                           th:placeholder="#{i18n.login.username}" placeholder="u53rn4m3" autofocus/>
                </div>
            </div>
            <div class="w3-row w3-section">
                <div class="w3-col fieldIcon"><i
                        class="w3-xxlarge w3-text-theme-l5 material-icons">lock</i>
                </div>
                <div class="w3-rest">
                    <input class="w3-input w3-theme-l5" type="password" name="password"
                           th:placeholder="#{i18n.login.password}" placeholder="p455w0rd"/>
                </div>
            </div>
            <div class="w3-row w3-section">
                <input class="w3-btn w3-theme-l5" type="submit" th:value="#{i18n.login.button}" value="L0g1n"
                       name="update"/>
            </div>
            <div class="w3-card w3-theme-l5" th:if="${param.error}" th:text="#{i18n.login.error}">Wr0ng u53r/p455w0rd
            </div>
        </form>
    </div>
    <div class="w3-content w3-text-theme loginBox">
        <p th:text="#{i18n.footer.copyright}">(C) Here</p>
        <p th:text="${@gataBuildProperties}">ver. here</p>
    </div>
</div>
</body>
</html>