.themeBox {
    min-width: 1px;
}

.localeBox {
    min-width: 1px;
}

.ajaxError {
    display: block;
}


.fieldIcon {
    width: 50px;
    padding: 0px;
}

.searchMaster {
    width: 90%;
    overflow: hidden;
}
@media (min-width:993px){
.searchMaster {
    width: 33%;
}
.searchDetail {
    margin-left: 34%;
}
}
@media (min-width:1205px){
.searchMaster {
    width: 25%;
}
.searchDetail {
    margin-left: 26%;
}
}

.searchResults {
    height: calc(100% - 130px);
    overflow: auto;
}

#smallMenu {
    padding: 5px;
}